@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.logo_name {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 50px;
}

.links_tab {
  position: absolute;
  left: 0;
  top: 120px;
  background-color: #fff;
  width: 100%;
  height: auto;
  text-align: center;
}

.links_tab .nav_btn {
  width: auto;
  text-decoration: none;
  display: block;
  margin: 12px 5px 12px 40px;
  border-radius: 500px;
  text-align: left;
  padding: 0 15px;
  height: 55px;
  font-size: 20px;
  border: none;
  background-color: #fff;
  color: #474747;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logout_btn {
  position: absolute;
}
.nav_btn1 {
  width: 80%;
  text-align: center;
  text-decoration: none;
  color: #1674ea;
  padding: 10px 20px;
  border-radius: 500px;
  background-color: #f0f0f0;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 40px 10%;
}

.links_tab .nav_btn i {
  color: #1f1f1f;
  transition: all 0.5s;
}

.links_tab .nav_btn:hover {
  background-color: #f0f0f0;
  color: #1674ea;
  transition: all 0.5s;
}

.links_tab .nav_btn:hover i {
  color: #1674ea;
  transition: all 0.5s;
}

.links_tab .nav_btn span {
  margin-left: 20px;
  font-weight: 400;
}

.logo_name img:last-child {
  display: none;
}
.links_tab .current {
  background-color: #f0f0f0;
}
.links_tab .current span {
  color: #1674ea;
  font-weight: bold;
}
.links_tab .current i {
  color: #1674ea;
}

@media only screen and (max-width: 992px) {
  .links_tab .nav_btn {
    width: 90%;
    margin: 16px 5%;
    padding: 0px;
    text-align: center;
    font-size: 22px;
  }
  .nav_btn1 {
    width: 100%;
    border-radius: 0px;
    background-color: #fff;
    margin: 0;
  }

  .logo_name {
    justify-content: center;
    padding-left: 0px;
  }

  .links_tab .nav_btn span {
    display: none;
  }

  .logo_name img:last-child {
    display: inline;
  }

  .logo_name img:first-child {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .logo_name {
    display: none;
  }
  #logout_btn {
    position: relative;
  }
  .links_tab {
    left: 0;
    top: 0;
    height: 55px;
    display: flex;
    padding: 0;
    margin-top: 0;
    justify-content: left;
    align-items: center;
  }

  .links_tab .nav_btn {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    transition: all 0.5s;
  }
  .links_tab .current {
    background-color: #1674ea;
  }
  .links_tab .current span {
    color: #1674ea;
    font-weight: bold;
  }
  .links_tab .current i {
    color: #f0f0f0;
  }
  .links_tab .nav_btn:hover {
    background-color: #1674ea;
    color: #f0f0f0;
  }

  .links_tab .nav_btn:hover i {
    color: #f0f0f0;
  }
}

/* SignUp Modal */
#signup {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: -100vh;
  opacity: 0;
  left: 0px;
  z-index: -200;
  transition: top 1s, opacity 0.5s;
}
#signup:target {
  top: 0px;
  z-index: 100;
  opacity: 1;
  transition: all 0.5s;
}
#reset {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: -100vh;
  opacity: 0;
  left: 0px;
  z-index: -200;
  transition: top 1s, opacity 0.5s;
}
#reset:target {
  top: 0px;
  z-index: 100;
  opacity: 1;
  transition: all 0.5s;
}
.show_box-top {
  width: 100%;
  height: 70px;
  position: relative;
  border-bottom: solid 1px #f0f0f0;
}
.show_box-top img {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
}
.show_box-top div {
  font-size: 26px;
  line-height: 50px;
  position: absolute;
  left: 80px;
  top: 20px;
  width: auto;
  height: 50px;
  font-family: "Signika Negative", sans-serif;
  color: #1f1f1f;
  font-weight: 500;
}
.show_box-top div span:first-child {
  font-size: 32px;
  line-height: 50px;
}
.show_box-top div span:last-child {
  color: #1674ea;
}
.close {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  position: absolute;
  right: 25px;
  top: 15px;
  color: #505050;
}
.close:hover {
  color: #ea4335;
}
.signup-body {
  height: calc(100vh - 70px);
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .show_box-top div {
    font-size: 16px;
    line-height: 40px;
    left: 60px;
    top: 5px;
    height: 40px;
  }
  .show_box-top div span:first-child {
    font-size: 24px;
  }
  .show_box-top {
    height: 50px;
  }
  .show_box-top img {
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
  }
  .close {
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    top: 10px;
  }
}
/* SignUp Modal Ends */
/* Login Modal */
#login {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: -100vh;
  opacity: 0;
  left: 0px;
  z-index: -200;
  transition: top 1s, opacity 0.5s;
}
#login:target {
  top: 0px;
  opacity: 1;
  z-index: 100;
  transition: all 0.5s;
}
/* Login Modal Ends */
/* Logout Modal */
#logout {
  width: 100%;
  height: 100vh;
  background-color: #808080;
  position: fixed;
  top: -100vh;
  left: 0;
  opacity: 0;
  z-index: -200;
  transition: top 0s, opacity 0.5s;
  display: flex;
  justify-content: center;
}
#logout:target {
  z-index: 100;
  opacity: 1;
  top: 0;
  background-color: #80808086;
  transition: opacity 0.5s;
}
.show_box {
  width: 500px;
  top: 0px;
  position: absolute;
  min-height: 200px;
  background-color: #fcfcfc;
  max-height: calc(100vh - 40px);
  height: auto;
  transition: all 0.5s;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
}
#logout:target .show_box {
  position: absolute;
  top: 20px;
  transition: all 0.5s;
}
.login_text {
  position: fixed;
  top: 50px;
  left: 20px;
}
/* Rem-box Top */
.show_box-req-top {
  width: 100%;
  height: 50px;
  position: relative;
  top: 0px;
  left: 0;
  background-color: #1674ea;
}
.show_box-req-top h4 {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
.req-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  line-height: 30px;
  color: #f5f5f5;
}
.req-close:hover {
  color: #ffffff;
}
/* Rem-box Top Ends */

/* Rem-modal Body */

.show_box-req-body {
  max-height: calc(100vh - 90px);
  position: relative;
  background-color: #fcfcfc;
  top: 0;
  left: 0;
  padding: 20px 0;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
}
.show_box-req-body::-webkit-scrollbar {
  width: 5px;
}
.show_box-req-body::-webkit-scrollbar-track {
  background: #fff;
}
.show_box-req-body::-webkit-scrollbar-thumb {
  background: #1674ea;
}
.show_box-req-body::-webkit-scrollbar-thumb:hover {
  background: #0b5cc0;
}
.req_box {
  width: 320px;
  height: 80px;
  border-radius: 10px;
  margin: 5px 5px;
  background-color: #fff;
}
.btn_box {
  width: 100%;
  margin: 20px 0;
}
.btn_box a {
  width: 80px;
  text-decoration: none;
  height: auto;
  color: #1f1f1f;
  padding: 5px 15px;
  background-color: #f5f5f5;
  border: 1px #808080 solid;
  margin: 0px 10px;
  border-radius: 500px;
}
.btn_box a:hover {
  cursor: pointer;
  color: #1f1f1f;
  background-color: #e7e7e7;
}
/* Rem-modal Body Ends */
@media only screen and (max-width: 768px) {
  .show_box {
    width: calc(100% - 20px);
    border-radius: 5px;
  }
  #requestsent:target .show_box {
    top: 10px;
  }
  .show_box-req-body::-webkit-scrollbar {
    width: 2px;
  }
}
/* Logout Modal */

/* Reset Modal CSS*/
.login_text1 {
  text-align: center;
  color: #474747;
  font-size: 18px;
  margin: 80px 0;
  text-decoration: none;
  line-height: 70px;
}
.left_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  width: 100%;
  background-color: #fcfcfc;
}
.left_box img {
  width: 400px;
  height: 400px;
}
.right_box {
  height: calc(100vh - 70px);
  overflow-y: auto;
}
.head_text {
  text-align: center;
  margin: 5px 0px 30px 0px;
  color: #1674ea;
  font-size: 48px;
}
.input_box {
  width: 100%;
  height: 50px;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: none;
  margin: 0 0 20px 0;
}
.input_box:focus {
  outline: none;
  border: solid 1px #1674ea;
  background-color: #fff;
}
.text_label {
  font-size: 24px;
  font-weight: 400;
  line-height: 16px;
  color: #1674ea;
}
.submit_btn {
  width: 100%;
  height: 60px;
  font-size: 24px;
  color: #fff;
  background-color: #1674ea;
  border: none;
  border-radius: 500px;
  transition: all 0.5s;
}
.submit_btn:hover {
  background-color: #0b5cc0;
  transition: all 0.5s;
}
.submit_btn:disabled {
  background-color: #8ec0fe;
}

@media only screen and (max-width: 768px) {
  .logo_box {
    display: none;
  }
  .input_box {
    height: 40px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  .text_label {
    font-size: 16px;
    line-height: 4px;
  }
  .submit_btn {
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .head_text {
    margin: 5px 0px 10px 0px;
    font-size: 32px;
  }
  .show_box-body {
    height: calc(100vh - 50px);
  }
  .right_box {
    height: calc(100vh - 50px);
  }
}

/* Reset Modal CSS End */
